# Compiled class file
*.class

# IDE related 
.classpath
.factorypath
.settings
.vscode

# Java compile target
target

# Parquet related file
*.crc

# Profile file
.project

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# intellj
.idea/
*.iml
